.posts {margin-bottom: 30px; padding: 10px 15px; border-left: 5px solid #1E90FF; background: #f8f8f8;}
.posts .text-muted {font-size: 18px;}
.posts a {display: block; font-size: 48px;}

.post-header {margin-bottom: 20px}
.post-header h1 {font-size: 48px; font-weight: bold; line-height: 1.2;}
.post-body {padding-bottom: 20px;}
.post-body p {color: #777; font-size: 22px; line-height: 1.6; margin-bottom: 20px;}
