body {
  padding-top: 50px;
}
.header {
  padding: 20px 0;
}

.header h1{
  font-size: 60px;
  text-align:center;
  letter-spacing: -1px;
}
.posts {margin-bottom: 30px; padding: 10px 15px; border-left: 5px solid #1E90FF; background: #f8f8f8;}
.posts .text-muted {font-size: 18px;}
.posts a {display: block; font-size: 48px;}

.post-header {margin-bottom: 20px}
.post-header h1 {font-size: 48px; font-weight: bold; line-height: 1.1;}
.post-body {padding-bottom: 50px;}
.post-body p {font-size: 22px; line-height: 1.7;}
footer {margin-top: 30px; padding: 20px 0;}
hr {margin-top: 0;}