body {
  font-family: Helvetica, Arial;
  font-size: 14px;
}

.top-bar {
  border-bottom : 1px solid #f8f8f8;
  width: 90%;
  margin: 0 auto;
  padding: 0 10px;
  height: 80px;
}

.top-bar * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.top-bar:after {
  content: "";
  display: table;
  clear: both;
}

.top-bar .left, .top-bar .center, .top-bar .right {
  float: left;
  min-height: 1px;
}

.top-bar .left {
  width: 20%;
}

.top-bar .left .logo {
  color: #fff;
  text-align: left;
  font-weight: 100;
  text-decoration: none;
  transition: color 0.2s ease-in 0s;
}

.top-bar .left  .logo:hover{
  color: #e8e8e8;
}

.top-bar .right {
  width: 20%;
  display: table;
  height: 80px;
}

.top-bar .right .button-wrap {
  text-align: right;
  display: table-cell;
  vertical-align: middle;
}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																												
.top-bar .center {
  width: 60%
}

.top-bar .center p {
  color: #fff;
  text-align: center;
  font-size: 21px;
  padding: 0 20px
}

.main {
  width: 100%;
}

.main .container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 10%;
}

.main .aboutme {
  font-size: 16px;
  color: #fff;
  display: none;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer-inner {
  margin: 0 auto;
  padding: 0 10px;
}

.nav {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 20px 0;
}

.nav li {
  display: inline-block;
  margin-left: 10px
}

.nav .social {
  color: #fff;
  transition: color 0.2s ease-in 0s;
}

.nav .social:hover {
  color: #e8e8e8;
}

/*Buttons*/
.btn {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
  background-color: #fff;
  transition: background-color 0.2s ease-in 0s;
  color: #111;
}

.btn:hover {
  background-color: #e8e8e8;
}

.nice {
  font-size: 14px;
}

.mute { background-color: #e8e8e8; }

@media screen and (max-width: 40rem) {
  #about {
    display: none;
  }
  
  .main .aboutme {
    display: block;
  }
}
