.bg-wrapper {
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo a { color: #111; }

.jumbotron {
  padding: 5em 0;
}

.jumbotron .container {
  margin: 0 auto;
  width: 80%;
}

.jumbotron .title {
  line-height: 1.25;
  font-size: 4em;
  margin: 0;
  color: #fff;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-align: center;
}

.jumbotron .sub {
  margin: 0.8em 0 0;
  font-size: 1.50em;
  text-align: center;
  letter-spacing: -1px;
}

.jumbotron .sub mark{
  background: #fff;
  padding: 0 0.1em;
}

.post-wrapper {
  width: 100%;
  background: #fff;
  overflow: hidden;
  padding: 1em 0.67em 1em 0.67em;
}

.post {
  background: #fff;
  overflow: hidden;
  margin-bottom: 1em;
}

.post .header {
   border: 4px solid #7FDBFF;
   padding: 1em 0.67em;
   font-family: "Roboto Condensed",sans-serif;
}

.blog-footer {
  width: 100%;
  margin: 0 auto;
  background: #111;
  color: #fff;
}

.blog-footer a {
  color: #7FDBFF;
  text-decoration: none;
}

.blog-footer a:hover {text-decoration: none;}

.post h1.post-title { font-size: 2.5em; font-weight: bold; margin: 0; font-family: "Roboto Condensed",sans-serif; color: #111; text-align: center }

.post h1.post-title a {color:#111; text-decoration: none; transition: color 0.2s ease-in 0s;}
.post h1.post-title a:hover {color: #ccc}

.post p.post-date {margin:0.50em 0; text-align:center; color:#999;}
hr {
    width: 10%;
    border: none;
    height: 4px;
    margin-top: 1em;
    /* Set the hr color */
    color: #7FDBFF; /* old IE */
    background-color: #7FDBFF; /* Modern Browsers */
}

.post:last-child {margin-bottom: 0 }
