.bg-wrapper {
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo a { color: #111; }

.jumbotron {
  padding: 5em 0;
}

.jumbotron .container {
  margin: 0 auto;
  width: 80%;
}

.jumbotron .title {
  line-height: 1.25;
  font-size: 4em;
  margin: 0;
  color: #fff;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-align: center;
}

.jumbotron .sub {
  margin-top: 0.8em;
  font-size: 1.25em;
  color: #111;
  background-color: #fff;
  padding: 0.3em;
  display: inline-block;
}
.post {
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
}
.post h1 { font-weight: 100}
