body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 100%;
  margin: 0;
  height: 100%;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

header.main-head {
  background: transparent;
  padding: 2em 0;
}

.text-center {
  text-align: center;
}

.logo {
  font-size: 2.5em;
  margin: 0;
  letter-spacing: -1px
}

.logo a {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

.logo a:hover {
  text-decoration: underline;
}

.main-text h1 {
  text-align: center;
  margin: 0;
  color: #fff;
  font-size: 5em;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
  letter-spacing: -2px;
  text-shadow: 0 1px 5px #666;
}

.main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0.4em 0 0;
}

.nav li {
  display: inline-block;
  margin-left: 10px
}

.nav .social {
  color: #fff;
  transition: color 0.2s ease-in 0s;
}

.nav .social:hover {
  color: #7FDBFF;
}

/*Buttons*/
.btn {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0.5em 1em;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  border: 0.15em solid  #7FDBFF;
  background-color: #FFF;
  transition: background-color 0.2s ease-in 0s;
  color: #111;
}

.btn:hover {
  background-color: #7FDBFF;
}

#footer {
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
  padding: 1em 0;
}

@media only screen and (max-width: 400px) {
    body { font-size:90%;}
   .main-text h1 { font-size: 3.5em}
}

@media only screen and (min-width: 1100px) {
    body { font-size:120%;}
}
