<div class="navbar navbar-default navabar-static-top">
	<div class="container">
        <div class="navbar-header">
			<a class="navbar-brand" href="http://huzeifa.github.io">huzeifa.github.io</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
			<li {% if page.slug == "home" %} class="active"{% endif %}><a href="/index.html">Home</a></li>
            <li {% if page.slug == "about" %} class="active"{% endif %}><a href="#">About</a></li>
            <li {% if page.slug == "contact" %} class="active"{% endif %}><a href="#">Contact</a></li>
        </ul>
	</div>
</div>