<script src="js/jquery.js"></script>
    <script src="js/typed.min.js"></script>
    <script>
      $(function() {
      var button = $("<a id=\"nice\" class=\"btn nice animated fadeIn\" href=\"#\"><i class=\"fa fa-hand-spock-o fa-lg\"></i> Nice to meet you!</a>");
      $("#about").on("click", function() {
        $("#about").addClass("mute");
        $(".about-me").typed({
	  strings: ["Hello there! I'm <b>Huzeifa Dawood</b> from Mombasa", "I study electrical engineering at University of Nairobi.", "I like hacking with electronics, mathematics and computer programming", "Welcome!", ""],
	  typeSpeed: 30,
          callback: function() {
              $(".typed-cursor").remove();
              $(".about-me").html(button);
              $("#nice").removeClass("fadeOut");
              $("#nice").one("click", function() {
                $("#nice").addClass("fadeOut");
                $(".about-me").after("<span class=\"about-me\" />");
                setTimeout(function() {
                  $(".about-me")[0].remove();
                }, 1500)
                $("#about").removeClass("mute");
            });
          }
	});
      });
      /*var state = 0;
      setInterval(function() {
        if(state === 0) {
        $("#new").removeClass("fadeIn")
        $("#new").addClass("fadeOut")
        state = 1;
        }
        else {
          $("#new").removeClass("fadeOut")
        $("#new").addClass("fadeIn")
        state = 0;        }
      }, 4000);*/
      });
    </script>
