<div class="top-bar animated fadeInDown">
  <div class="top-bar-inner">
    <div class="left">
      <h1><a class="logo" href="index.html">Huzeifa<b>Dawood</b></a></h1>
    </div>
    <div class="center">
      <p><span class="about-me"></span></p>
    </div>
    <div class="right">
      <div class="button-wrap">
        <ul class="nav">
          <li><a class="btn" href="blog.html">Blog</a></li>
          <li><a id="about" class="btn" href="#">About me</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
