<div class="top-bar">
      <div class="left">
        <a class="logo" href="index.html">H</a>
      </div>
      <div class="center">
          <ul id="title">
            <li><a class="social" href="http://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter fa-3x"></i></a></li>
            <li><a class="social" href="http://github.com/{{ site.github_username }}"><i class="fa fa-github fa-3x"></i></a></li>
          </ul>
          <p><span class="about-me"></span></p>
      </div>
      <div class="right">
        <div class="button-wrap"><a id="about" class="btn about" href="#">About me</a></div>
      </div>
    </div>
