// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding: 1.5rem 0;
  border-bottom: 2px solid #0074d9;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  color: $gray-4;
  font-weight: normal;
  a {
    color: inherit;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    opacity: .5;
  }
}
