<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog of Huzeifa Dawood">
    <meta name="author" content="Huzeifa Dawood">

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

	<body>
		<div class="container">
			<div class="row">
			<div class="col-md-4">
				<div style="margin-top: 100px; padding: 10px 0; border-right: 0px solid #eee">
					<h1>Huzeifa Dawood</h1>
				<p class="lead text-muted">hacker.maker</p>
				<ul class="list-inline">
					<li><a href="http://twitter.com/Huzi94">@Huzi94</a></li>
					<li><a href="http://github.com/huzeifa">GitHub</a></li>
					<li><a href="mailto:huzeifa052@gmail.com">Email</a></li>
				</ul>
				</div>
			</div>
			<div class="col-md-8">
				<div style="padding-top: 20px;">
				<a href="#"><h1>My first nodejs application</h1></a>
				<p class="text-muted">05/03/2014</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<hr>
				<a href="#"><h1>My first nodejs application</h1></a>
				<p class="text-muted">05/03/2014</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<hr>
				<a href="#"><h1>My first nodejs application</h1></a>
				<p class="text-muted">05/03/2014</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<hr>
				</div>
			</div>
			</div>
		</div>
  </body>
</html>

