<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog of Huzeifa Dawood">
    <meta name="author" content="Huzeifa Dawood">

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

	<body>
		<div class="container">
			<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="side-bar">
					<h1>Huzeifa Dawood</h1>
					<p class="lead">I am a freelance web developer</p>
					<ul class="list-inline">
						<li><a href="http://twitter.com/Huzi94">@Huzi94</a></li>
						<li><a href="http://github.com/huzeifa">GitHub</a></li>
						<li><a href="mailto:huzeifa052@gmail.com">Email</a></li>
						<li>+254787939918</li>
					</ul>
				</div>
			</div>
			</div>
		</div>
	 </body>
</html>

